* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: purple;
    color: whitesmoke;
    font-size: 1.6rem;
    display: flex;
    flex-flow: column;
}

h1, h2{
    font-size: 2rem;
}
nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

img.banner{
    display: block;
    width: 100%;
    max-width: 800px;
}

.form-submit{
    padding: 14px 20px;
}